/* ExperienceForm.css */
.experience-form-container {
    text-align: center;
    margin: 20px;
  }
  
  .experience-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .experience-item input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .add-experience-btn {
    background: #007bff;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .submit-btn {
    background: #28a745;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover,
  .add-experience-btn:hover {
    background: #0056b3;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  